Repository jbenner-radham/github-api-exercise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.yaml:

---
'*.{js,mjs}': eslint --fix
package.json: sort-package-json

Add paging support to the API calls
  lib/config.js
  lib/github-api/get-pull-request-commits.js
  lib/github-api/get-pull-requests.js
  lib/github-api/util/paginate.js
  lib/github-api/util/parse-link-header.js
  package-lock.json
  package.json
  test/unit/github-api/util/paginate.spec.js
  test/unit/github-api/util/parse-link-header.spec.js
Due: eslint --fix, sort-package-json

Fix Link header no next property issue
  lib/github-api/util/paginate.js
  lib/github-api/util/parse-link-header.js
Due: eslint --fix

Refactor parseRepositoryUrl function
  lib/routes/home-route.js
  lib/routes/util/parse-repository-url.js
  test/unit/routes/util/parse-repository-url.spec.js
Due: eslint --fix

Add error handling for repositoryUrl query param
  lib/routes/home-route.js
Due: eslint --fix

Refactory parseLinkHeader return types
  lib/github-api/util/parse-link-header.js
  test/unit/github-api/util/parse-link-header.spec.js
Due: eslint --fix

Extract out GITHUB_API_ACCEPT_HEADER into config
  lib/config.js
  lib/github-api/util/get-default-headers.js
Due: eslint --fix

Add comments to .env.example
  .env.example
Due: none

Separate app and server code
  lib/index.js
  lib/server.js
  package.json
Due: eslint --fix, sort-package-json

Add initial integration tests
  package-lock.json
  package.json
  test/integration/index.spec.js
Due: eslint --fix, sort-package-json

Add error handling to getPullRequests
  lib/github-api/get-pull-requests.js
Due: eslint --fix

Add error handling to getPullRequestCommits
  lib/github-api/get-pull-request-commits.js
Due: eslint --fix

Add error handling to paginate
  lib/github-api/util/paginate.js
Due: eslint --fix

Add error handling to homeRoute
  lib/routes/home-route.js
Due: eslint --fix

Add basic 200 status integration tests
  test/integration/index.spec.js
Due: eslint --fix

Add error occurred integration test
  test/integration/error-occurred.spec.js
Due: eslint --fix

Add a has results integration test
  test/integration/has-results.spec.js
Due: eslint --fix

Add unit test for getDefaultHeaders
  test/unit/github-api/util/get-default-headers.spec.js
Due: eslint --fix

Sort typedef properties
  lib/github-api/get-pull-requests.js
Due: eslint --fix

Add logging
  .env.example
  lib/config.js
  lib/github-api/get-pull-request-commits.js
  lib/github-api/get-pull-requests.js
  lib/github-api/util/get-default-headers.js
  lib/github-api/util/paginate.js
  lib/github-api/util/parse-link-header.js
  lib/logger.js
  lib/routes/home-route.js
  lib/server.js
  package-lock.json
  package.json
  test/integration/error-occurred.spec.js
Due: eslint --fix, sort-package-json

Comment the config file
  lib/config.js
Due: eslint --fix

Comment getDefaultHeaders
  lib/github-api/util/get-default-headers.js
Due: eslint --fix

Add postinstall script
  .eslintrc.yaml
  package-lock.json
  package.json
  scripts/postinstall.js
Due: eslint --fix, sort-package-json

Silence logging during testing
  test/integration/error-occurred.spec.js
  test/integration/has-results.spec.js
  test/integration/index.spec.js
Due: eslint --fix

Fix typo
  scripts/postinstall.js
Due: eslint --fix

Add start:watch script
  package-lock.json
  package.json
Due: sort-package-json

Update readme
  README.md
Due: none

Fix typo
  README.md
Due: none

Cleanup tests
  test/unit/github-api/util/paginate.spec.js
  test/unit/github-api/util/parse-link-header.spec.js
Due: eslint --fix

Update package metadata
  package-lock.json
  package.json
Due: sort-package-json

Add 404 support
  lib/routes/home-route.js
  test/integration/not-found.spec.js
Due: eslint --fix

Tweak the readme
  README.md
Due: none

Remove eslint-plugin-no-only-tests dependency
  package-lock.json
  package.json
Due: sort-package-json
